.img-thumbnail {
    height: 120px;
}
.center {
    text-align: center;
}

.well {
    margin: 5px 40px;
    width: 275px;
    height: 290px;
}

.warning {
    color: red;
}

body {
    background-color: lemonchiffon;
}