<!-- angular bootsrap accordion for displaying list -->
<!-- <ngb-accordion #acc="ngbAccordion" activeIdes="ngb-panel-0">
    <ngb-panel title="Shelter">
        <ng-template ngbPanelContent>
            Family
        </ng-template>
        <ng-template ngb>
            Individual
        </ng-template>
    </ngb-panel>
    <ngb-panel title="Simple">
        <ng-template ngbPanelTitle>
           first template
        </ng-template>
        <ng-template ngbPanelContent>
            second template
        </ng-template>
    </ngb-panel>

</ngb-accordion> -->
<div class="container">
    <ul>
        <li>Shelter
            <ul>
                <li routerLink="/entry">Adult</li>
                <li routerLink="/entry">Individual</li>
            </ul>
        </li>
    </ul>
</div>


<!-- {FilterFields: {"Category": "Shelter", "SubCategory", "Adult"},{"Category": "Shelter", "SubCategory", "Individual"},{"Category": "Food", "SubCategory", ""}} -->

