<!-- angular bootsrap accordion for displaying list -->
<!-- <ngb-accordion #acc="ngbAccordion" activeIdes="ngb-panel-0">
    <ngb-panel title="Shelter">
        <ng-template ngbPanelContent>
            Family
        </ng-template>
        <ng-template ngb>
            Individual
        </ng-template>
    </ngb-panel>
    <ngb-panel title="Simple">
        <ng-template ngbPanelTitle>
           first template
        </ng-template>
        <ng-template ngbPanelContent>
            second template
        </ng-template>
    </ngb-panel>

</ngb-accordion> -->
<div class="container">
    <section>
        <button (click)="clickShelter()">Shelter</button>
        <div *ngIf="shelterClicked">
            <a routerLink="/entry">Adult</a>
            <a routerLink="/entry">Individual</a>
        </div>
    </section>
    <section>
        <button (click)="clickFood()">Food</button>
            <div *ngIf="foodClicked">
                <a>Go to Page for food list</a>
            </div>
    </section>
    <section>
        <button (click)="clickTransport()">Transportation</button>
            <div *ngIf="transportClicked">
                <a>Got to Page for Transportation</a>
            </div>
    </section>
</div>


<!-- {FilterFields: {"Category": "Shelter", "SubCategory", "Adult"},{"Category": "Shelter", "SubCategory", "Individual"},{"Category": "Food", "SubCategory", ""}} -->

