.container {
    background-color: #818181;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
}

section {
    background-color: #e1e1e1;
    margin: 10px auto;
    padding: 10px;
    width: 50%;
}